
/* Global style start */
*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin-left: 240px;
    margin-right: 240px;
}
.section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.paragrap{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
section{
    margin-bottom: 100px;
}
/* Global style end */




/* navbar section start */
.main-navbar{
    background-color: #E55473;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}
.logo-sec a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.manu-sec ul{
    display: flex;
    align-items: center;
}
.manu-sec ul li{
    list-style: none;
    margin-right: 15px;

}
.manu-sec ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.manu-sec .nav-btn-1{
    background-color: rgb(119, 0, 255);
    padding: 10px 25px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.manu-sec .nav-btn-1:hover{
    background-color: rgb(84, 4, 177);
}
.manu-sec .nav-btn-2{
    background-color: rgb(0, 68, 255);
    padding: 10px 25px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.manu-sec .nav-btn-2:hover{
    background-color:rgb(0, 52, 196) ;
}
/* navbar section end*/



/*banner section start */
.main-banner-section {
    background-color:#E554731A ;
    height: 800px;
    width: 100%;
    display: flex;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.banner-section h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-section button , .hot-deal-text button{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    

}
.banner-section button a , .hot-deal-text a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.banner-img{
    width: 635px;
    height: 800px;
}
/*banner section end */


/* about-flower-section start */
.about-flower-section{
    background-color: #e75d7b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    border-radius: 5px;
}
.about-flower{
    padding-left: 50px;
    padding-right: 50px;
    border-right: 2px solid white;
}
.about-flower ul{
    padding-left: 50px;
    max-width: 500px;
    color: white;
    line-height: 25px;
}
.about-flower p{
    max-width: 500px;
}
/* about-flower-section end */


/* featured-flowers-section start */
.featured-flowers-section{
    text-align: center;
}
.featured-flowers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.featured-flowers img{
    width: 350px;
    height: 400px;
    padding: 20px;
}
.featured-flowers p{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
.featured-flower-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 420px;
}
.featured-flower-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 420px;
}
.featured-flower-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
    height: 420px;
}
/* featured-flowers-section end */



/* hot-deal-section start */
.hot-deal-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
    width: 100%;
}
.hot-deal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-img{
    width: 300px;
    margin-top: 100px;
}
/* hot-deal-section end */



/* instagram-section start */
.instagram-section{
    text-align: center;
}
.instagram-img{
    width: 330px ;
    height: 350px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
/* instagram-section end */



/* latest-deals-section start */
.latest-deals-section{
    height: 440px;
    width: 1270px;
    background-image: url(asset/Rectangle\ 9.png);
    background-size: cover;
    text-align: center;
}
.latest-deal-text{
    padding-top: 100px;
}
.latest-deal-btn input{
    border-radius: 8px;
    background: #FFF;
    width: 500px;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    box-shadow: 4px 4px 8px rgb(57, 59, 61);
    margin-right: 10px;
}
.latest-deal-btn button{
    padding: 14px 25px ;
    border: none;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}
/* latest-deals-section end */



/* footer section start */
footer{
    background-color: black;
    width: 100%;
    height:440px;
    text-align: center;
}
.footer-sec{
    padding-top: 100px;
}
.footer-sec h2{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 20px;
}
.footer-sec p{
    color: #FFF;
    max-width: 500px;
    margin: auto;
}
/* footer section end */